.venv
.idea 
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pywzc
*.pywc
*.pyzc
*.pywc
*.pyzc
*.pywc
*.pyzc
.created_outlook_accounts.xlsx
./created_outlook_accounts.xlsx
created_outlook_accounts.xlsx